<%= header_and_page_title t('me.games.edit', game: @game.title) %>

<p>
  <%= link_to t('me.games.levels.title', game: @game.title), my_game_levels_path(game_id: @game.id) %>
</p>

<%= render 'form' %>

<% content_for :bottom_scripts do %>
  <%= javascript_include_tag 'controllers/games' %>
<% end %>
