<table class="table table-striped">
  <thead>
    <th class="col-sm-2">
      <%= Team.human_attribute_name(:name) %>
    </th>
    <th class="col-sm-1">
    </th>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td>
          <%= team.name %>
        </td>
        <td>
          <% if @current_user == user %>
            <% if render.include? :change %>
              <%= link_to t('team.change'),
                          my_team_member_path(user.team_members.find { |tm| tm.team_id == team.id }),
                          data: { method: :put },
                          class: 'btn btn-primary' %>
            <% end %>

            <% if render.include? :leave %>
              <%= link_to t('team.leave'),
                          my_team_member_path(user.team_members.find { |tm| tm.team_id == team.id }),
                          data: { method: :delete },
                          class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
