<h1>
  <% title = t('games.edit', game: @game.title) %>
  <% content_for(:page_title, title) %>
  <%= title %>
</h1>

<p>
  <%= link_to t('games.levels.title', game: @game.titl=e), game_levels_path(game_id: @game.id) %>
</p>

<%= render 'form' %>

<% content_for :bottom_scripts do %>
  <%= javascript_include_tag 'controllers/games' %>
<% end %>
