<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('change_locale') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% SUPPORTED_LOCALES.each do |locale| %>
      <li>
        <%= link_to locale, locale_path(locale: locale), data: { method: :put } %>
      </li>
    <% end %>
  </ul>
</li>
