<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to I18n.t('users.new'), new_user_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% I18n.available_locales.each do |locale| %>
          <li>
            <%= link_to locale, locale_path(locale: locale), data: { method: :put } %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
